extends ../../layouts/base_layout.pug

block variables 
  - var rssurl = '../rss.xml'

mixin blogCard(data)
  a(href=data.url)
    div.card
      div.card-image
        img(src=data.imgSrc, alt=data.imgAlt)
      div.card-content
        div.card-tags
          span= data.tag
        h2.card-title= data.title
        p.card-desc= data.desc
        span.card-date= data.date
        span.card-read-time= data.readTime

block content
  div.center
    a(href="https://waotzi.org/rss.xml", target="_blank") Follow RSS
    span &nbsp;
    a(href="https://waotzi.org/atom.xml", target="_blank") Follow Atom

  div.blog-card-container
    include ../../_gen/metadata.pug
    +blogCard(technological_privacy_crisis)
    +blogCard(imaginary_house)
    +blogCard(clingy_tree)
