extends ../../layouts/base_layout.pug

mixin blogCard(data)
  a(href=data.url)
    div.card
      div.card-image
        img(src=data.imgSrc, alt=data.imgAlt)
      div.card-content
        div.card-tags
          span= data.tag
        h2.card-title= data.title
        p.card-desc= data.desc
        span.card-date= data.date
        span •&nbsp;
        span.card-read-time= data.readTime

block content
  div.blog-card-container
    include ../../posts/metadata.pug
    +blogCard(technological_privacy_crisis)
    +blogCard(imaginary_house)
    +blogCard(clingy_tree)
