extends ../layouts/base_layout.pug

mixin blogCard(data)
  a(href=data.url)
    div.card
      div.card-content
        h2.card-title= data.title
        div.card-tags
          span= data.tag
        p.card-desc= data.desc
        span.card-date= data.date
        span.card-read-time= data.readTime
  hr

block content
  div.flex-row.flex-between.flex-wrap.mw-600
    div.flex-col.justify-center
      img(src="/assets/logo.jpg" height="280")
    div.flex-col.w-300
      h1 Waozi
      div Another Wondering Soul
      div.flex-row.flex-between.flex-wrap
        a(href="mailto:hi@waozi.dev") Email
          a(href="https://coindrop.to/waozi") Coindrop
          a(href="https://github.com/waozi-dev") GitHub 
          a(href="https://waozi.itch.io/") Itch.io
          a(href="https://t.me/waozi_dev") Telegram
          a(href="https://x.com/waozi_") 𝕏


  h1 Hello, World!
  p Welcome! Here's a glimpse into my journey and the projects I've passionately worked on.
  h2 Applications
  p 
    a(href="https://ukuvota.world") Ukuvota
    |  is a quick tool for collaborative score voting to find consensus in a group.

  p 
    a(href="https://naox.io/inbe") Inner Breeze
    |  was inspired by my discovery of the Wim Hof Breathing Method, this app helps users practice and track their progress, promoting focus and mindfulness.
  p For more apps and work-in-progress projects can be found at my organization website &nbsp;
    a(href="https://naox.io") NaoX.io
  h2 Games
  p 
    a(href="https://geocats.netlify.app") Geocats
    |  is a 2D action-platformer I contributed to while working at a video game startup. Although the startup ended, it was the beginning of my freelancing career.
  p
    a(href="https://pixelflux.io") Pixelflux
    |  is a simple Web3 Game. Collaboratively color a canvas, buy pixel layers and earn whenever someone buys a layer on top of your pixel.

  h2 Personal Blog
    div.blog-card-container
      include ../_gen/metadata.pug
      +blogCard(technological_privacy_crisis)
      +blogCard(imaginary_house)
      +blogCard(clingy_tree)
