extends ../layouts/base_layout.pug

mixin card(imageSrc, title, description, linkText, linkHref)
  div.card
    img.card-image(src=imageSrc, alt=title)
    div.card-content
      h2= title
      p= description
      a.button(href=linkHref)= linkText

block content
  div.content
    span This page has moved.
    a(href="/") Click here to redirect.