- var logo = '/assets/logo.png'
- var tagline = 'Another Wondering Soul'

block variables
  - var title = 'Waozi - Another Wondering Soul'
  - var description = 'Just Another Wondering Soul'
  - var social_logo = '/assets/social_logo.png'
  - var url = 'https://waozi.dev'

block rssvar
  - var rssurl = './rss.xml'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title=title
    meta(name="description", content=description)
    meta(name="keywords", content="technology, innovation, Waozi, liberty, spirituality, experience")
    meta(name="ocs-site-verification" content="940c16fb341227abef490fd3dd1659aa")

    // Open Graph (OG) meta tags
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=social_logo)
    meta(property="og:url", content=url)
    meta(property="og:type", content="website")
    meta(property="og:site_name", content=title)

    // Twitter card meta tags
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content=description)
    meta(name="twitter:image", content=social_logo)

    link(rel="stylesheet", href="/assets/styles.scss")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png")
    link(rel="manifest" href="/assets/site.webmanifest")
    link(rel="alternate" type="application/rss+xml" href=rssurl title="Waozi Blog")
  body
    div.content
      block content
