- var logo = '/assets/favicon.png'
- var tagline = 'Bringing Technology to Life'

block variables
  - var title = 'Waotzi'
  - var description = 'Waotzi - Bringing Technology to Life'
  - var social_logo = '/assets/favicon.png'
  - var favicon = '/assets/favicon.png'
  - var url = 'https://waotzi.org'

block rssvar
  - var rssurl = './rss.xml'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title=title
    meta(name="description", content=description)
    meta(name="keywords", content="technology, innovation, Waotzi, liberty, spirituality, experience")
    meta(name="ocs-site-verification" content="940c16fb341227abef490fd3dd1659aa")

    // Open Graph (OG) meta tags
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=social_logo)
    meta(property="og:url", content=url)
    meta(property="og:type", content="website")
    meta(property="og:site_name", content=title)

    // Twitter card meta tags
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content=description)
    meta(name="twitter:image", content=social_logo)

    link(rel="stylesheet", href="/assets/styles.scss")
    link(rel="icon" type="image/png" href=favicon)
    link(rel="alternate" type="application/rss+xml" href=rssurl title="Waotzi Blog")
  body
    header.hero
      a(href="/")
        img.logo(src=logo, alt="Logo") 
      p.tagline #{tagline}
    nav.navigation
      ul
        li 
          a.button(href="/") About
        li 
          a.button(href="/portfolio") Portfolio
        li 
          a.button(href="/blog") Blog
        li 
          a.button(href="/donate") Donate
    div.content
      block content
