- var title = 'Waotzi'
- var description = 'Waotzi - Bringing Technology to Life'
- var logo = '/assets/favicon.png'
- var favicon = '/assets/favicon.png'
- var tagline = 'Bringing Technology to Life'
- var url = 'https://waotzi.org'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title=title
    meta(name="description", content=description)
    meta(name="keywords", content="technology, innovation, Waotzi, liberty, spirituality, experience")

    // Open Graph (OG) meta tags
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=logo)
    meta(property="og:url", content=url)
    meta(property="og:type", content="website")
    meta(property="og:site_name", content=title)

    // Twitter card meta tags
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content=description)
    meta(name="twitter:image", content=logo)

    link(rel="stylesheet", href="/assets/styles.scss")
    link(rel="icon" type="image/png" href=favicon)
  body
    header.hero
      img.logo(src=logo, alt="Logo") 
      p.tagline #{tagline}
    nav.navigation
      ul
        li 
          a(href="/") About
        li 
          a(href="/portfolio") Portfolio
        li 
          a(href="/blog") Blog
        li 
          a(href="/donate") Donate
    div.content
      block content